.navbar {
  min-height   : 80px;
  font-family  : 'Proxima Nova', sans-serif;
  margin-bottom: 0;
  border-radius: 0;
  .navbar-header{
    a{
      &.color{
        opacity: 0;
      }
      &.nonColor{
        position: absolute;
      }
    }
  }
  button:focus {
    outline: none;
  }
  button:active,
  button:focus,
  button:active,.btn:active,
  .btn:focus,
  .btn:active{
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  }
  .navbar-right {
    margin-top   : 30px;
    margin-right : 10px;
    margin-bottom: 0;
    float        : right !important;
    .btn-success {
      background-color: $green;
      color           : white;
      border-color    : $green;
      transition      : background-color 700ms, color 700ms;
      /*&:hover {
        border-color    : $green;
        background-color: transparent;
        color           : $green;
        transition      : background-color 700ms, color 700ms;
      }*/
    }
    .btn {
      margin-top    : 7px;
      font-family   : "Proxima Nova", sans-serif;
      text-transform: uppercase;
      padding       : 5px 10px;
    }
    a {
      padding: 0;
    }
    li{
      &.pull-left{
        background-color: #DB7B6A;
        border: 5px solid #2e2541;
        border-radius: 5px;
        a{
          &.btn{
            color: #EAEDEF;
          }
        }
      }
    }
  }
}
.navbar-brand{
/*    padding: 12px 0 0 10px;*/
  img {
    /* max-width: 190px;*/
      width: 70% !important;
      height: auto;
  }
}
.navbar-header {
  float: left;
}
#landingNav {
  &.navbar {
    background-color: rgba(255, 255, 255,0);
    border-color    : rgba(231, 231, 231,0);
  }
  .btn-success {
    background-color: rgba(146, 196, 61, 0.01);
    color           : $green;
    border-color    : $green;
    transition      : background-color 700ms, color 700ms;
    &:hover {
      border-color    : $green;
      background-color: $green !important;
      color           : #fff !important;
      transition      : background-color 700ms, color 700ms;
    }
  }
}
#userNav {
   ::-webkit-scrollbar {
    width: 8px;
  }
   ::-webkit-scrollbar-track {
    background-color: #EBEBEB;
  }
   ::-webkit-scrollbar-thumb {
    background-color: #9AE4DF;
    border-radius   : 50px;
  }
   ::-webkit-scrollbar-corner {
    background-color: black;
  }
  .nav > li {
    float: left;
  }
  .dropdown-menu {
    position        : absolute;
    background-color: #fff;
    color: black;
    h5{
      color: grey;
    }
    /*padding-left: 5px;*/
    right           : 0;
    left            : auto;
    .read-indicator {
      color    : $orange;
      padding  : 15px 10px;
      font-size: 12px;
    }
    /*li {
            padding-left: 5px;
        }*/
    &.cog-menu{
        li{
            //padding: 10px;
            a{
                padding: 10px;
            }
        }
    }
  }
  &.navbar {
    background-color: #fff;
    border-bottom: solid 4px #22aead;
  }
  #userSpace {
/*    margin-left: 20px;
*/    .profile-pic {
        cursor: pointer;
      button {
        position: absolute;
        /*height  : 15px;
        padding : 0;*/
        width   : 50px;
        bottom  : -21px;
        background-color: $middleUser;
        z-index: 4000;
        color: $orange;
        i{
          position: absolute;
          bottom: 1px;
          right: 21px;
        }
      }
    }
    ul {
/*      border-top: 4px solid #22AEAD;*/
      max-height: 300px;
      overflow-x: hidden;
      overflow-y: auto;
      li {
        p {
          margin        : 0;
          text-transform: uppercase;
          font-size     : 12px;
          color         : $grey;
        }
        .description {
          color      : #999;
          font-size  : 12px;
          text-transform: none;
        }
        .taskDue {
          color      : $grey;
          font-weight: 500;
          font-size  : 10px;
        }
        .taskIgnore {
          color      : $grey;
          font-size  : 11px;
          font-weight: 600;
          &:hover {
            text-decoration: underline;
          }
        }
        .btn {
          margin-top : 0;
          font-weight: bold;
          padding    : 3px 10px;
        }
        a {
          font-size  : 11px;
          font-weight: bold;
        }
        .progress-bar {
          background-color: $green;
          color           : white;
          border-radius   : 3px;
        }
        .progress {
          height       : 15px;
          border       : solid 2px $green;
          padding      : 2px;
          border-radius: 3px;
          margin       : 0;
          max-width    : 200px;
        }
      }
    }
    #resumeStatus,
    #profileUpdate,
    #connections,
    #jobs {
      .glyphicon {
        color: #165697;
      }
      p {
        color: #A9A9A9;
        strong {
          color: #656565;
        }
        .navItemHighlight {
          font-size  : 14px;
          color      : #1F9187;
          font-weight: bold;
        }
      }
    }
    ul {
      width: 450px;
      li {
        cursor               : pointer;
        padding-top          : 5px;
        margin-right         : 5px;
        margin-top           : 5px;
        border-radius        : 0 10px 10px 0;
        -moz-border-radius   : 0 10px 10px 0;
        -webkit-border-radius: 0 10px 10px 0;
        .col-sm-2 {
          display        : flex;
          justify-content: center;
          align-items    : center;
          height         : 30px;
        }
        .col-sm-3 {
          text-align: center;
        }
        &:hover {
          background-color: #FFD17A;
        }
        &.no-notifications:hover {
            background-color: transparent;
        }
        &:active {
          background-color: $middleUser;
        }
        .row {
          .col-sm-7 {
            position: relative;
            p:last-child {
              position: absolute;
              right   : 0;
              bottom  : -12px;
            }
          }
        }
      }
    }
  }
  #gear{
      > a{
              background-color: transparent;
              &:hover,&:active{
              background-color: transparent;
              color: #28304E;
              span {
                color: #28304E;
              }

          }
      }
  }
}
.notification-img {
  width : 42px;
  height: auto;
  margin: auto;
  display: block;
}
.navbar-brand{
/*    padding: 12px 0 0 10px;*/
    img {
      /* max-width: 190px;*/
        width: 100%;
        max-height: 50px;
        margin: 10px 0;
/*        height: auto;*/
    }
}
@media (max-width: 767px) {
  #userNav #userSpace ul {
    width: 350px;
      /*li {
        padding-left: 4px;
        span {
          font-size: 5vw;
          top: 30%;
        }
        span , img{
          position : absolute;
        }
        img{
          top:20%;
        }
      }*/
    .read-indicator {
        padding: 15px 4px;
    }
    .notification-img {
        width: 34px;
        padding-top: 4px;
    }
    .btn {
        padding: 3px 4px !important;
    }
  }
  #userNav .dropdown-menu {
    right: 0;
    left : -240px;
  }
  @-moz-document url-prefix() {
  .navbar-brand{
      img {
          width: 86%;
          height: auto;
      }
    }
  }
}

@-moz-document url-prefix() {
  .navbar-brand{
      padding: 12px 0 0 10px;
      img {
          width: 210px;
          height: auto;
      }
  }
  .navbar-brand.nonColor{
    img{
      margin-left: -204px !important;
    }
  }
}
@supports (-ms-accelerator:true) {
  .navbar-brand img {
    width: 210px !important;
    height: auto;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
  .navbar-brand img {
    width: 210px !important;
    height: auto;
  }
}
