$green: #92C43D;
$orange: #FD7122;
$burgandy: #BE0712;
$grey: #6F6F6F;
$middleUser: #FFC348;
$otherDeveloper: #008E88;
$yellow : #FBB508;
$lightGreen: #C4DC92;
$aqua: #24afaa;
$lightAqua: #B8E4E3;
$lightRed: #EFBFBF;
$lightYellow: #FFD476;
$userHBar: #8ABA26;
$userBar:  #C4DC92;
$jobHBar: #C00202;
$jobBar: #EFBFBF;
$gapBride: #F5A700;
